.background-12{
    background-color: rgb(255, 255, 255);
    height: 729px;
    width: 1520px;
}
.body-logo{
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.body-logo-1{
    width: 18vh;
}
.body-title{
    position: absolute;
    top: 14%;
    left: 120vh;
    transform: translate(-50%, -50%);
    width: 120vh;
    text-align: center;
}
.front-os{
    font-family: 'Oswald', serif !important;
}
.body-title-1{
    color: #020ffc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vh;
}
.body-title-14{
    position: absolute;
    top: 20%;
    left: 120vh;
    transform: translate(-50%, -50%);
    width: 120vh;
    text-align: center;
}
.body-title-2{
    color: #020ffc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vh;
}
.choice-1{
    position: absolute;
    top:40%;
    left: 50%;
    width: 1px;
    height: 300px;
    border-right: 3px dashed #b1154a;
    border-right-color: #151414;
}
.choice-2{
    position: absolute;
    top:40%;
    left: 52%;
    width: 300px;
    height: 150px;
    border-bottom: 3px dashed #b1154a;
    border-bottom-color: #0a0a0a;
}
.choice-3{
    position: absolute;
    top:40%;
    left: 28.7%;
    width: 300px;
    height: 150px;
    border-bottom: 3px dashed #b1154a;
    border-bottom-color: #111010;
}
.body-menu-2{
    margin: 0 0 15px 0;
    color: #100f0f;
    padding: 11px 6px;
    height: 7vh;
    cursor: not-allowed;
}
.body-menu-2-1{
}
.body-menu-2-2{
    padding: 0 0 0 0px;
    font-size: 30px;
    margin: 0 0 0 24px;
    position: relative;
    top: 10%;
    left: 15%;
    color: #020ffc;
}
.body-menu-b{
    position: absolute;
    top:10%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 55vh;
}
.front-ro{    font-family: 'Roboto', sans-serif !important;
}
.body-menu-a{
    position: absolute;
    top:150%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 55vh;
}
.body-menu-1{
    margin: 0 0 10vh 0;
    color: #100f0f;
    padding: 8vh 2vh;
    height: 5vh;
    cursor: not-allowed;
}
.body-menu-1-1{
}
.body-menu-1-2{
    padding: 0 0 0 0px;
    font-size: 5vh;
    margin: 0 0 0 24px;
    position: relative;
    top: 10%;
    left: 15%;
    color: #020ffc;
}
.body-title-15{
    position: absolute;
    top: 26%;
    left: 120vh;
    transform: translate(-50%, -50%);
    width: 120vh;
    text-align: center;
}
.body-title-3{
    color: #ff001e;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vh;
}
.body-ttlh{
    position: absolute;
    bottom: -3%;
    left: 58%;
    transform: translate(-50%,-50%);
    width: 170vh;
    line-height: 3vh;
    text-align: right;
    color: #020ffc;
}
.body-ttlh-1{
    font-style: italic;
}
.body-ttlh-2{
    color: #020ffc;
    font-size: 2.5vh;
}